html(lang='en')
    head
        title Create Customer 
    
    body
       form(method='post',action='/')
          input(name='name')
          input(type="submit",value="Create Student")      